.bread-crumbs {
    margin-top: -36px;
    margin-bottom: 16px;
}
.bread-crumbs__list {
    display: flex;
}
.bread-crumbs__link {
    font-size: 14px;
    color: #f89513;
    font-style: italic;
    text-decoration: underline;
}
.bread-crumbs__item::after {
    content: "/";
}
.bread-crumbs__item:last-child:after {
    content: "";
}
.bread-crumbs__item:last-child .bread-crumbs__link {
    color: #4e4c4c;
    text-decoration: none;
}