.logo_text {
    color: #f89513;
    font-size: 18px;
    font-family: "GoraFree", Arial, Helvetica, sans-serif; 
    letter-spacing: 1.42px;  
}

.logo--margin-left--65 {
    margin-right: 65px;
}