.tiles__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tiles__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 43px);
    margin-bottom: 45px;
}

.tiles__list--margin--10 .tiles__item {
    margin-bottom: 10px;
}




